.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.button {
	margin-top: 20px;
	background-color: #f4595b;
	border-radius: 8px;
	border-bottom: 4px solid #c24648;
	color: white;
	font-size: 16px;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
}
button:hover {
	background-color: #ff7375;
}
button:active {
	background-color: #c24648;
	color: #ccc;
	border: none;
	margin-bottom: 4px;
}
.ul-close {
	display: none;
}
.ul-open {
	display: block;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
